<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PLUTO KITA</title>
    <%- include('templates/heads') %>

    <style>
        .inventoryBookLink{
            transition: 0.4s;
        }
        .inventoryBookLink:hover{
            cursor: pointer;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.428);
            background-color: rgb(205, 227, 235);
            /* background-color: #5cb8a7; */
        }
    </style>
</head>

<body>

    <%- include('templates/header', {user: {}}); %>

    <!-- Main Content -->
    <div class="container-fluid" style="background-color: #dedede;">
        <div class="row" style="min-height: calc(100vh - 200px); ">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
            <dotlottie-player src="https://lottie.host/0dd666ca-b9b4-42f1-a8e0-d80afeb5e2c8/8H6rUHVp8i.json" background="transparent" speed="1" style="left: calc(50vw - 350px);bottom: 25px;position: fixed;width: 400px; height: 400px;" loop autoplay></dotlottie-player>

            
            <!-- Left Side - Form -->
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="card" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.428);">
                    <div class="card-body">
                        <h5 class="card-title">Kotak Presensi</h5>
                        <p class="card-subtitle">Masukkan NPM untuk absen masuk dan keluar lab</p>
                        <form id="attendanceForm">
                            <div class="form-group">
                                <label for="npm">NPM:</label>
                                <input type="number" class="form-control" id="npm" name="npm" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <a href="/book">
                <div class="card align-items-center inventoryBookLink" style="left: 0px;bottom: 120px;position: fixed;border-radius: 0px 30px 30px 0px; flex-direction: row;">
                    <div class="card-body" style="padding: 10px 15px;text-align: end;">
                        <h6 class="card-title" style="margin: 0;">Butuh meminjam invetaris?</h6>
                        <h6 class="card-title" style="margin: 0;">Klik disini</h6>
                    </div>
                    <dotlottie-player src="https://lottie.host/97ea0f7a-dc6d-4d37-94aa-4ab768e1ecd9/xMI4F43jdB.json" background="transparent" speed="1" style="width: 80px; height: 80px;" loop autoplay></dotlottie-player>
                </div>
            </a>
                
            <!-- Right Side - Information -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-success text-white mt-3">
                            <div class="card-body d-flex align-items-center" style="flex-flow: column;">
                                <i class="fas fa-users fa-2x"></i>
                                <h1 class="card-title" id="totalVisitors">0</h1>
                                <h5 class="card-text">Total Kunjungan Hari Ini</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-primary text-white mt-3">
                            <div class="card-body d-flex align-items-center" style="flex-flow: column;">
                                <i class="fas fa-check-circle fa-2x"></i>
                                <h1 class="card-title" id="currentAttending">0</h1>
                                <h5 class="card-text">Sedang di Lab PLUTO</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info text-white mt-3">
                            <div class="card-body d-flex align-items-center" style="flex-flow: column;">
                                <i class="fas fa-calendar-alt fa-2x"></i>
                                <h1 class="card-title" id="totalVisitorsThisMonth">0</h1>
                                <h5 class="card-text">Total Kunjungan Bulan Ini</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Sedang di PLUTO</h5>
                        <table id="attendanceTable" class="table">
                            <thead>
                                <tr>
                                    <th>NPM</th>
                                    <th>Fullname</th>
                                    <th>Enter Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- DataTable content will be added dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('templates/footer') %>
    <%- include('templates/scripts') %>

    <script>
        $(document).ready(function () {
            // Function to fetch data from /api/attendance with attendingOnly=1
            function fetchAttendingData() {
                $.ajax({
                    type: 'GET',
                    url: '/api/attendance',
                    data: { attendingOnly: '1' },
                    success: function (response) {
                        // Populate DataTable with the fetched data
                        if (response.data && response.data.length > 0) {
                            $('#attendanceTable tbody').empty(); // Clear existing rows
                            response.data.forEach(function (row) {
                                $('#attendanceTable tbody').append(`
                                    <tr>
                                        <td>${row.cadet.npm}</td>
                                        <td>${row.cadet.fullname}</td>
                                        <td>${row.enterTime}</td>
                                    </tr>
                                `);
                            });
                        // Initialize DataTable
                            $('#attendanceTable').DataTable();
                        }
                    },
                    error: function () {
                        console.error('Failed to fetch attending data.');
                    }
                });
            }

            function fetchSummaryData() {
                $.ajax({
                    type: 'GET',
                    url: '/api/attendance/summary',
                    success: function (summaryResponse) {
                        // Update card data with the fetched summary
                        $('#totalVisitors').text(summaryResponse.totalVisitorToday);
                        $('#currentAttending').text(summaryResponse.currentlyAttending);
                        $('#totalVisitorsThisMonth').text(summaryResponse.totalVisitorThisMonth);
                    },
                    error: function () {
                        console.error('Failed to fetch summary data.');
                    }
                });
            }

            // Handle form submission
            $('#attendanceForm').submit(function (e) {
                showLoading()
                e.preventDefault();

                // Get the NPM value
                var npm = $('#npm').val();

                // Send AJAX request to /api/attendance/check
                $.ajax({
                    type: 'POST',
                    url: '/api/attendance/check',
                    data: { npm: npm },
                    success: function (response) {
                        if (response.isAttending) {
                            // Show prompt
                            Swal.fire({
                                text: 'Apakah kamu akan meninggalkan laboratorium?',
                                showCancelButton: true,
                                confirmButtonText: 'Ya',
                                cancelButtonText: 'Batal',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Send DELETE request to /api/attendance
                                    $.ajax({
                                        type: 'DELETE',
                                        url: '/api/attendance',
                                        data: { npm: npm },
                                        success: function (deleteResponse) {
                                            if (deleteResponse.success) {
                                                Swal.fire({
                                                    text: 'Terima kasih sudah berkunjung, ' + deleteResponse.fullname + '!',
                                                    icon: 'success'
                                                }).then(() => location.reload());
                                            } else {
                                                Swal.fire({
                                                    text: deleteResponse.error,
                                                    icon: 'error'
                                                });
                                            }
                                        },
                                        error: function () {
                                            Swal.fire({
                                                text: 'Failed to leave lab',
                                                icon: 'error'
                                            });
                                        }
                                    });
                                }
                            });
                        } else {
                            // Send POST request to /api/attendance
                            $.ajax({
                                type: 'POST',
                                url: '/api/attendance',
                                data: { npm: npm },
                                success: function (postResponse) {
                                    if (postResponse.success) {
                                        Swal.fire({
                                            text: 'Selamat datang, ' + postResponse.fullname + '!',
                                            icon: 'success'
                                        }).then(() => location.reload());
                                    } else {
                                        Swal.fire({
                                            text: postResponse.error,
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire({
                                        text: 'Failed to attend lab',
                                        icon: 'error'
                                    });
                                }
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            text: 'Failed to check attendance',
                            icon: 'error'
                        });
                    }
                });
            });

            // Fetch and update DataTable on page load
            fetchAttendingData();

            // Fetch and update summary data on page load
            fetchSummaryData();
        });

        function showLoading() {
            Swal.fire({
            title: 'Loading...',
            allowOutsideClick: false,
            showConfirmButton: false,
            onOpen: () => {
                Swal.showLoading();
            }
            });
        }
    </script>

</body>

</html>
